<!DOCTYPE html>
<html lang="en">
<%- include( "include/head.ejs") %> 
<body class="bg-black">
  <%- include ('include/movies_nav.ejs') %> 
  <% function increment(p){ %>
    <% if(p < numPages) {%>
      <%return  p += 1 %> 
      <% } else {%>
        <% return numPages %> 
        <% } %>
   <% } %> 
   <% function decrement(p){ %>
    <% if(p > 1) {%> 
      <%return  p -= 1 %> 
      <% } else {%>
        <% return 1 %> 
        <% } %>
    <% } %> 
    <% if(numPages > 1) {%> 
      <div id="page-change">
        <% if(page <= 1) {%> 
        <a class="text-center" href="<%= url + 1 %>  "  style="pointer-events: none; color: rgb(66, 65, 65);" ><span class="page-text">First</span>  <i class="fa fa-fast-backward" aria-hidden="true"></i></a>
  
        <a class="text-center" href="<%= url + decrement(page)%>" style="pointer-events: none; color: rgb(19, 17, 17);"><span class="page-text">Previous</span> <i class="fa fa-backward" aria-hidden="true"></i></a>
  
        <a class="text-center" href="<%= url + increment(page) %> "><span class="page-text">Next</span> <i class="fa fa-forward" aria-hidden="true"></i></a>
  
        <a class="text-center" href="<%= url + numPages %> " ><span class="page-text">Last</span> <i class="fa fa-fast-forward" aria-hidden="true"></i></a>
  
        <% }; if(page >= numPages){ %> 
          <a class="text-center" href="<%= url + 1 %> "><span class="page-text">First</span> <i class="fa fa-fast-backward" aria-hidden="true"></i></a>

          <a class="text-center" href="<%= url + decrement(page) %> "><span class="page-text">Previous</span> <i class="fa fa-backward" aria-hidden="true"></i></a>
    
          <a class="text-center" href="<%= url + increment(page) %> "  style="pointer-events: none; color: rgb(19, 17, 17);"><span class="page-text">Next</span> <i class="fa fa-forward" aria-hidden="true"></i></a>
    
          <a class="text-center" href="<%= url + numPages %> "  style="pointer-events: none; color: rgb(66, 65, 65);"><span class="page-text">Last</span> <i class="fa fa-fast-forward" aria-hidden="true"></i></a>
          <% }; if(page > 1 && page < numPages){%>
  
            <a class="text-center" href="<%= url + 1 %> "><span class="page-text">First</span> <i class="fa fa-fast-backward" aria-hidden="true"></i></a>
  
            <a class="text-center" href="<%= url + decrement(page) %> "><span class="page-text">Previous</span> <i class="fa fa-backward" aria-hidden="true"></i></a>
      
            <a class="text-center" href="<%= url + increment(page) %> "><span class="page-text">Next</span> <i class="fa fa-forward" aria-hidden="true"></i></a>
      
            <a class="text-center" href="<%= url + numPages %> " ><span class="page-text">Last</span> <i class="fa fa-fast-forward" aria-hidden="true"></i></a>
            <% } %> 
    </div>
    <% }; %> 

  <small class="text-light mx-5 text-capitalize"><%= movieName + ` (page ${page} of ${numPages})`   %> </small>
  <%- include("include/body.ejs") %>


  <% if(numPages > 1) {%> 
    <div id="page-change">
      <% if(page <= 1) {%> 
        <a class="text-center" href="<%= url + 1 %>  "  style="pointer-events: none; color: rgb(66, 65, 65);" ><span class="page-text">First</span>  <i class="fa fa-fast-backward" aria-hidden="true"></i></a>
  
        <a class="text-center" href="<%= url + decrement(page)%>" style="pointer-events: none; color: rgb(19, 17, 17);"><span class="page-text">Previous</span> <i class="fa fa-backward" aria-hidden="true"></i></a>
  
        <a class="text-center" href="<%= url + increment(page) %> "><span class="page-text">Next</span> <i class="fa fa-forward" aria-hidden="true"></i></a>
  
        <a class="text-center" href="<%= url + numPages %> " ><span class="page-text">Last</span> <i class="fa fa-fast-forward" aria-hidden="true"></i></a>

      <% }; if(page >= numPages){ %> 
        <a class="text-center" href="<%= url + 1 %> "><span class="page-text">First</span> <i class="fa fa-fast-backward" aria-hidden="true"></i></a>

        <a class="text-center" href="<%= url + decrement(page) %> "><span class="page-text">Previous</span> <i class="fa fa-backward" aria-hidden="true"></i></a>
  
        <a class="text-center" href="<%= url + increment(page) %> "  style="pointer-events: none; color: rgb(19, 17, 17);"><span class="page-text">Next</span> <i class="fa fa-forward" aria-hidden="true"></i></a>
  
        <a class="text-center" href="<%= url + numPages %> "  style="pointer-events: none; color: rgb(66, 65, 65);"><span class="page-text">Last</span> <i class="fa fa-fast-forward" aria-hidden="true"></i></a>
        <% }; if(page > 1 && page < numPages){%>

          <a class="text-center" href="<%= url + 1 %> "><span class="page-text">First</span> <i class="fa fa-fast-backward" aria-hidden="true"></i></a>
  
            <a class="text-center" href="<%= url + decrement(page) %> "><span class="page-text">Previous</span> <i class="fa fa-backward" aria-hidden="true"></i></a>
      
            <a class="text-center" href="<%= url + increment(page) %> "><span class="page-text">Next</span> <i class="fa fa-forward" aria-hidden="true"></i></a>
      
            <a class="text-center" href="<%= url + numPages %> " ><span class="page-text">Last</span> <i class="fa fa-fast-forward" aria-hidden="true"></i></a>
          <% } %> 
  </div>
  <% }; %> 
  <%- include( "include/footer.ejs") %> 

</body>

</html>