<!DOCTYPE html>
<html lang="en">
<%- include("include/head.ejs") %> 
<body class="bg-black m-movies">
    <%- include("include/movies_nav.ejs") %>
    <small class="text-light mx-3"><%= movieName %> </small>
    <%- include("include/body.ejs")  %> 
    <%- include( "include/footer.ejs") %> 
</body>
</html>